* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.task-row {
  list-style-type: none;
  padding: 8px;
}

.task-content {
  display: flex;
  align-items: center;
  gap: 3px;
}

.task-content input[type="checkbox"] {
  margin-right: 8px;
}

.task-content button {
  margin-left: 8px;
}
